---
layout: archive
author_profile: false
sidebar:
  nav: "docs"
---
<h1>Guides</h1>
<p>
  Welcome to Convictional! Learn more about the Convictional platform by selecting a guide on the left. We can help with almost any kind of commerce integration requirement you have. Get in touch with support if you need help.

  Your retailers will automatically receive inventory updates, fulfillment information and product catalogs. You will receive orders from them that contain your products and be able to bill for them all automatically.
  
  In order to get started, take a look at the list of articles on the left and select the one that meets your current needs.
  
  1. The first step when you engage Convictional is <a href="https://app.convictional.com/sign_up">signing up for your account</a>. Once you have an account you can connect your commerce platform and we will start charging your subscription.
  
  2. The next step is connecting your commerce platform. How this works depends on the platform you select during onboarding. Go to your Settings page and click "Connect Platform". If there are text fields listed you will need to do some manual setup on the other side to make it work. 
  
  3. Once you are connected, the next step is loading in data and onboarding your partners. 
</p>
